@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body{
    overflow: hidden;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: #0F2236;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container{
    width: 41.7%;
    height: 90%;
    background-color: #101F2F;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1vw;
}
.mine{
    width: 7.5vw;
    border-radius: 8px;
    background-size: cover; 
    background-position: center;
    height: 7.5vw;
    cursor: pointer;
    transition: all 0.1s ease-in;
    background-color: #20384B;
}
.mine:hover{
    scale: 1.06;
    transform: translateY(-5px);
    background-color: #425C78;
}
.close{
    padding: 8px 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    font-size: 1.6vw;
}
#loose-model{
    display: flex;
    border: 3px solid #08FB07;
    border-radius: 12px;
    width: 15%;
    position: absolute;
    color: #08FB07;
    z-index: 99999999;
    height: 20%;
    right: 12%;
    top: 50%;
    background-color: #1b2b39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%,-50%);
    text-align: center;
    scale: 0;
}
#win-model{
    display: flex;
    border: 3px solid #08FB07;
    border-radius: 12px;
    width: 15%;
    position: absolute;
    color: #08FB07;
    z-index: 99999999;
    height: 20%;
    right: 12%;
    top: 50%;
    background-color: #1b2b39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%,-50%);
    text-align: center;
    scale: 0;
}
#top-loose, #top-win{
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-loose,#top-win h2{
    font-size: 3vw;
    font-weight: 400;
}
#overlay{
    width: 41.7%;
    z-index: 99999;
    padding: 1vw;
    height: 90%;
    right: 5%;
    display: none;
    position: absolute;
    background-color: #101f2f7a;
}
#loot{
    width: 35%;
    height: 90%;  
    border-radius: 8px;
    background-color: #20384B;
    gap: 1vw;
    padding: 1vw 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
}
#loot-overlay{
    background-color: #101f2f7a;
    width: 100%;
    padding: 1vw 0;
    left: 0%;
    top: 0;
    position: absolute;
    display: none;
    height: 100%;  
    border-radius: 8px;
}
#btn{
    font-size: 1.4vw;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    background-color: #00E919;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    z-index: 999999999;
    height: 10%;
    margin: 0 auto;
}
#btn img{
    width: 3vw;
}
#wallet{
    color: white;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    padding: 0 1.5vw;
}
#wallet h2{
    font-size: 1.2vw;
    font-weight: 300;
    color: #dadada;
}
#wallet-main{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadada73;
    width: auto;
    background-color: #101F30;
    align-items: center;
    justify-content: space-between;
}
#wallet-main div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#wallet-main legend{
    font-size: 1.4vw;
}
#wallet p{
    font-size: 1.3vw;
}
#wallet i{
    font-size: 1.6vw;
    cursor: pointer;
}
#bet-amount{
    padding: 0 1.5vw;
}
#doller-sign {
    width: 25px;    
    height: 25px;  
    display: flex;  
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #6dbd13;
}
#bet-amount h2{
    font-size: 1vw;
    color: #dadada;
    font-weight: 300;
}
#bet-amount{
    font-size: 1.2vw;
    color: white;
}
#amount{
    display: flex;
    justify-content: space-between;
    background-color: #101F30;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding-right: 1vw;
}
#amount input{
    padding: 0.8vw;
    font-size: 1.2vw;
    border: none;
    color: white;
    background-color: transparent;
}
#amount input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
#amount input[type=number]:focus {
    outline: none;
}
#total-mines{
    padding: 0 1.5vw;
}
#total-mines h2{
    font-size: 1vw;
    color: #dadada;
    font-weight: 300;
}
#mine-main{
    border-radius: 5px;
    background-color: #101F30;
    padding: 1vw;
    color: white;
    border: 1px solid #dadada;
}
#low-money-message p{
    font-size: 1.6vw;
}
#low-money-message{
    position: absolute;
    top: -20%;
    transition: all ease-out 0.5s;
    z-index: 9999999999;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #DADADA;
    width: 50%;
    border-radius: 5px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    align-items: center;
    z-index: 99999999999;
}
#wrong-passcode-message{
    position: absolute;
    top: -20%;
    transition: all ease-out 0.5s;
    z-index: 9999999999;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #DADADA;
    width: 50%;
    border-radius: 5px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    align-items: center;
    z-index: 99999999999;
}
#big-overlay{
    width: 100%;
    height: 100%;
    background-color: #101f2fab;
    position: absolute;
    display: none;
    z-index: 99999999999999;
}
#total-profit{
    padding: 0 1.5vw;
    display: none;
}
#total-profit h2{
    font-size: 1vw;
    color: #dadada;
    font-weight: 300;
}
#profit-main{
    font-weight: 300;
}
#profit-main{
    font-size: 1vw;
    color: white;
    width: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1vw;
    background-color: #101F30;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#add-model label{
    font-size: 3vw;
}
.divs{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.divs input{
    border-radius: 5px;
    padding: 1vw;
    font-size: 1.4vw;
}
.divs input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.divs input:focus {
    outline: none;
}
#add{
    padding: 1vw;
    background-color: #00E919;
    font-size: 1.4vw;
    border-radius: 5px;
    width: 30%;
    outline: none;
    
    border: none;
    cursor: pointer;
}
#add-model{
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: white;
    z-index: 9999999999;
    border-radius: 8px;
    padding: 3vw;
    flex-direction: column;
    transition: all ease-in 0.3s;
    scale: 0;
}
#add-model .cross{
    background-color: black;
    color: white;
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 2vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2%;
    top: -2%;
}
#footer{
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#footer p{
    font-size: 1vw;
    color: #dadada;
    font-weight: 200;
    
}
#footer a{
    text-decoration: none;
}
@media screen and (max-width: 1450px) {
    .mine{
        width: 7.3vw;
        height: 7.3vw;
    }
}

@keyframes anime {
    0%{
        opacity: 1;
        scale: 1.1;
    }
    30%{
        opacity: 1;
        scale: 1.15;
    }
    70%{
        scale: 0.1;
        opacity: 0;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes shake {
    0% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(7px,5px);
        background-color: rgba(255, 0, 0, 0.479);
        filter: contrast(200%) blur(3px);
    }
    20% {
        transform: translate(-7px,6px);
        filter: contrast(-50%) blur(10px);
        background-color: rgba(255, 0, 0, 0.568);
    }
    35% {
        transform: translate(6px,-7px);
        background-color: rgba(255, 0, 0, 0.973);
        filter: contrast(100%) blur(3px);
    }
    50% {
        transform: translate(0,0);
        background-color: rgba(255, 0, 0, 0.068);
        filter: contrast(100%) blur(15px);
    }
    60% {
        transform: translate(-4px,8px);
        background-color: rgba(255, 0, 0, 0.973);
        filter: contrast(100%) blur(10px);
    }
    70% {
        transform: translate(7px,5px);
        background-color: rgba(255, 0, 0, 0.493);
        filter: contrast(100%) blur(5px);
    }
    80% {
        transform: translate(-7px,6px);
        background-color: rgba(255, 0, 0, 0.308);
        filter: contrast(100%) blur(3px);
    }
    90% {
        transform: translate(6px,-7px);
        background-color: rgba(255, 0, 0, 0.904);
    }
    100% {
        transform: translate(0,0);
    }
}